div{

  width: 400px;
  height: 400px;
  background-color: greenyellow;
  border: 1px solid green;
  padding: 60px;
  margin: 60px;
  object-fit: contain;
  background-clip: content-box;
}

figcaption{
    text-align: center;
}
img#a{
    object-fit: cover;
    min-height: 400px;
    max-width: 100%;
}
img#b{
    object-fit: contain;
    min-height: 300px;
    max-width: 100%;
}
figure{
    margin: 0px;
}