*{
    margin-left: 0%;
    margin-right: 0%;
}
.item{
    flex: auto;
    height: fit-content;
    border: 1px solid red;
}
.item:not(:last-child){
    margin-right: 10px;
}
.row{
    display: flex;
}
img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    object-fit: cover;
}
p{
    text-align: center;
    width: 100%;
    background-color: thistle;
}
.head
{
    text-align: center;
}
.followtop
{
    bottom: calc(100% - 50px);
    position: fixed;
    text-align: center;
    background-color: royalblue;
    width: 100%;
}
.followbottom{
    top: calc(100% - 50px);
    position: fixed;
    text-align: center;
    background-color: red;
    width: 100%;
}
nav{
     top: calc(0%);
    position: fixed;
    background-color: saddlebrown;
    width: 100%;
}
li{
    display: inline-block;
    margin-right: 20px;
}
a{
    color: snow;
    text-decoration: none;
}